<footer class="mx-auto p-2" style="width: 100%;">
    <h3 style="font-size:large;">Data Sources:</h3>
    <ul style="font-size: smaller;">
        <li><a href="https://data.cityofnewyork.us/Health/NYC-Farmers-Markets/8vwk-6iz2">NYC Farmers Markets</a></li>
        <li><a href="https://data.cityofnewyork.us/Recreation/Directory-of-Eateries/8792-ebcp">Directory of Eateries</a></li>
        <li><a href="https://data.cityofnewyork.us/City-Government/Parks-Zones/4j29-i5ry">Parks Zones</a></li>
    </ul>
    <p style="font-size: smaller;">This project investigated how many eateries there are in different parts of NYC. The data fit in a wide range, from 0 to 23 businesses per zip code and 20 to 116 businesses per borough. </p>
</footer>